*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    background-size: auto;
    padding: 2rem 1rem;
}
.container_main{
    width: 1000px;
    max-width: 1000px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.7);
    padding: 2rem 0;
    border-radius: 3rem;
}
h1{
    color: #fff;
    text-align: center;
    font-size: 3rem;
}
.footer{
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
}
.btn{
    padding: 1rem 0 1.5rem 0;
    text-align: center;
}
button{
    margin: 0 1rem;
    padding: .8rem 2rem;
    border-radius: 10px;
    font-size: 1.5rem;
    color: #000;
    background: linear-gradient(45deg,#C850C0 10%, #FFCC70 100%);
    cursor: pointer;
    transition: transform 1s;
}
button:hover{
    transform: translateY(-20%);
}
.container{
    display: grid;
    margin: 0 auto;
    width: 750px;
    max-width: 800px;
    height: 750px;
    max-height: 800px;
    border-radius: 5px;
    border: 1px solid #FFCC70;
    margin-bottom: 1rem;
}
p{
    background: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}